body,
html {
  margin: 0;
  padding: 0;
}
.navbar {
  box-shadow: 0 0 20px rgb(11, 82, 11);
  background-color: rgba(4, 20, 14);
  opacity: 80%;
}

.navbar .logo {
  height: 40px;
  margin: 0 20px;
  /*logo place a gauche */
}

.nav-item {
  text-shadow: 2px 0 black, 0 1px white, 1px 0 black, 0 -1px white;
  font-family: 'Kaushan Script', cursive;
  display: inline;
  font-size: 18px;
  text-align: center;
  margin: 0 20px;
}

ul a:visited {
  color: rgb(238, 178, 13);
}
.navbar-toggler-icon {
  filter: invert(3); /* Դարձնում է սպիտակ գույն */
}

.img1 {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 30px rgba(70, 3, 3, 0.5);
  /* l'ombre uniform */
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.img1:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.zoom-opacity img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.zoom-opacity img:hover {
  transform: scale(1.2);
  /* 20%-ով մեծացում */
  opacity: 0.7;
  /* Թափանցիկության նվազեցում */
}

.zoom-shadow img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(32, 32, 32, 0.2);
  /* Սկզբնական ստվեր */
}

.zoom-shadow img:hover {
  transform: scale(1.1);
  /* Մեծացում */
  box-shadow: 0 10px 15px rgba(15, 15, 15, 0.4);
  /* Ստվերի ուժեղացում */
}

.modal-dialog {
  max-width: 90%;
  margin: 30px auto;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  /* Նկարը համաչափ կպահպանվի */
  border-radius: 10px;
}

h1 {
  color: rgb(124, 6, 6) !important;
  font-size: large;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

h2 {
  font-size: 46;
  letter-spacing: 6px;
  font-family: 'Kaushan Script', cursive;
}

h3,
h4 {
  font-family: 'Kaushan Script', cursive;
}

p {
  color: rgb(12, 12, 12);
  font-size: medium;
  font-family: 'Kaushan Script', cursive;
}

.fs-2 {
  color: white;
}

/* Carousel */
#carouselExampleCaptions {
  width: 100%;
  margin: 0 auto;
}

/* l'image est calibrée et mise à l'échelle correctement */
.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ajuste l'image pour l'adapter à l'arrière-plan*/
}

.carousel-item {
  height: 700px;
}

.video-section {
  width: 100%;
  /* Վիդեոն զբաղեցնում է 100% լայնություն */
  height: 70vh;
  overflow: hidden;
}

.bottom-video {
  width: 100%;
  /* Վիդեոն հարմարվում է լայնությանը */
  height: 100%;
  /* Վիդեոն հարմարվում է բարձրությանը */
  object-fit: cover;
  /* Կտրում կամ լրացնում է, որպեսզի վիդեոն տեղավորվի */
}

.top-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Full screen height */
  overflow: hidden;
  z-index: -1;/
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-video video {
  position: fixed;
  /* Fixe la vidéo à l'écran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Couvre tout l'écran sans déformer l'image */
  z-index: -1;
  /* Met la vidéo derrière le contenu */
}

/* Ajuster le texte pour le rendre lisible */
.content h1,
.content p {
  background-color: rgba(248, 243, 243, 0.993);
  /* Fond semi-transparent */
  display: inline-flex;
  padding: 0 30px;
  border-radius: 8px;
  letter-spacing: 7px;
}

/* Hauteur des sections pour démontrer le défilement */
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  letter-spacing: 7px;
}