
.navbar {
  box-shadow: 0 0 20px rgb(11, 82, 11);
  background-color: rgba(4, 20, 14);
  opacity: 80%;
}

.navbar .logo {
  height: 40px;
  margin: 0 20px;
  /*logo place a gauche */
}

.nav-item {
  text-shadow: 2px 0 black, 0 1px white, 1px 0 black, 0 -1px white;
  font-family: 'Kaushan Script', cursive;
  display: inline;
  font-size: 18px;
  text-align: center;
  margin: 0 20px;
}

ul a:visited {
  color: rgb(238, 178, 13);
}
.navbar-toggler-icon {
  filter: invert(3); /* Դարձնում է սպիտակ գույն */
}

.img1 {
  width: 100%;
  height: 700px;
  box-shadow: 0 0 30px rgba(70, 3, 3, 0.5);
  /* l'ombre uniform */
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.img1:hover {
  transform: scale(1.2);
  cursor: pointer;
}

h1 {
    color: rgb(124, 6, 6) !important;
    font-size: large;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

h2 {
    margin: 20px;
    color: #830808 !important;
    text-shadow: 1px 1px 2px rgb(139, 121, 121), 0 0 35px #f54904, 0 0 10px darkred;
    letter-spacing: 6px;
    text-indent: 100px;
    font-family: 'Kaushan Script', cursive;
}

p {
    color: rgb(51, 41, 37);
    font-size: large;
    font-family: 'Kaushan Script', cursive;
}

h3, h4 {
    font-family: 'Kaushan Script', cursive;
}
/* Section parallaxe */
.parallax {
  background-image: url('background.jpg'); /* Remplacez par votre image */
  height: 500px; /* Hauteur de la section */
  background-attachment: fixed; /* Clé pour l'effet de parallaxe */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section de contenu */
.content {
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}
@media (max-width: 768px) {
  .parallax {
      background-attachment: scroll; /* Désactiver l'effet sur mobile */
  }
}
