.navbar {
  box-shadow: 0 0 20px rgb(11, 82, 11);
  background-color: rgba(36, 21, 22, 0.4);
  opacity: 100%;
}
.navbar .logo {
  height: 35px;
  margin: 0 20px; /* Լոգոն կտեղադրվի ձախ մասում */
}

.nav-item {
  text-shadow: 2px 0 black, 0 1px white, 1px 0 black, 0 -1px white;
  font-family: 'Kaushan Script', cursive;
  display: inline;
  font-size: 18px;
  text-align: center;
  margin: 0 20px;
}

ul a:visited {
  color: rgb(238, 178, 13);
}

.img {
  width: 100%;
  height: 600px;
}

.img1 {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 30px rgba(70, 3, 3, 0.5);
  /* равномерная тень */
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.img1:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.img3 {
  margin: 10px;
}
.row {
  overflow: scroll;
  position: relative;
}

h1 {
  color: rgb(124, 6, 6) !important;
  font-size: large;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

h2 {
 font-size: 46;
  letter-spacing: 6px;
  font-family: 'Kaushan Script', cursive;
}

.fs-2 {
  color: white;
}
p {
  color: rgb(12, 12, 12);
  font-size: medium;
  font-family: 'Kaushan Script', cursive;
}

h3,
h4 {
  font-family: 'Kaushan Script', cursive;
}

/* Carousel-ի լայնությունը և կենտրոնացումը */
#carouselExampleCaptions {
  width: 100%; /* Carousel-ը զբաղեցնում է էկրանի 100%-ը */
  margin: 0 auto; /* Կենտրոնացում էկրանի վրա */
}

/* Պատկերի չափաբերման և ճիշտ մասշտաբի ապահովում */
.carousel-inner img {
  width: 100%; /* Լրիվ լայնությամբ */
  height: 100%; /* Ֆիքսված բարձրություն */
  object-fit: cover; /* Պատկերը հարմարեցնում է ֆոնի չափերին՝ առանց աղավաղման */
}

/* Տարրերի բարձրություն */
.carousel-item {
  height: 800px; /* Ֆիքսված բարձրություն բոլոր սլայդների համար */
}


.video-crop-container {
  width: 600px;
  /* Ширина контейнера */
  height: 300px;
  /* Высота контейнера */
  overflow: hidden;
  /* Обрезать всё, что выходит за рамки */
  position: relative;
}

.video-crop-container video {
  position: absolute;
  top: -10%;
  /* Сдвиг для фокусировки на нужной части видео */
  left: 0;
  width: 100%;
  /* Убедиться, что видео занимает ширину контейнера */
}


